In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [2]:
list_of_urls = [
    'http://www.boxofficemojo.com/yearly/chart/?yr=2015&p=.htm',
    'http://www.boxofficemojo.com/yearly/chart/?yr=2014&p=.htm',
    'http://www.boxofficemojo.com/yearly/chart/?yr=2013&p=.htm',
    'http://www.boxofficemojo.com/yearly/chart/?yr=2012&p=.htm',
    'http://www.boxofficemojo.com/yearly/chart/?yr=2011&p=.htm',
    'http://www.boxofficemojo.com/yearly/chart/?yr=2010&p=.htm',
    'http://www.boxofficemojo.com/yearly/chart/?yr=2009&p=.htm',
]

In [24]:
url = 'http://www.boxofficemojo.com/yearly/chart/?yr=2015&p=.htm'
response = requests.get(url)
soup = BeautifulSoup(response.text)

In [27]:
table = soup.find_all('table')[3]

In [28]:
movies = table.find_all('tr')

In [85]:
df = pd.DataFrame(columns=('title', 'studio', 'total_gross','theaters', 'opening','open_theaters', 'open', 'close', 'intlurl'))

In [97]:
testdata = movies[6].find_all('td')

In [98]:
myurl = testdata[1].find('a')['href']

In [99]:
myurl = 'http://www.boxofficemojo.com' + myurl

In [100]:
myurl = myurl.split('?')[0] + '?page=intl&' + myurl.split('?')[1]

In [101]:
myurl

'http://www.boxofficemojo.com/movies/?page=intl&id=starwars7.htm'

In [107]:
for row in movies[6:106]:
    row = row.find_all('td')
    row_s = pd.Series([item.get_text() for item in row][1:])
    intl = row[1].find('a')['href']
    intl = 'http://www.boxofficemojo.com' + intl
    intl = intl.split('?')[0] + '?page=intl&' + intl.split('?')[1]
    row_s = row_s.append(pd.Series(intl))
    row_s2 = row_s(index=df.columns)
print row_s2
#     df = df.append(row_s, ignore_index=True)

NameError: name 'row_s2' is not defined

In [59]:
df

,title,studio,total_gross,theaters,opening,open_theaters,open,close
0,Star Wars: The Force Awakens,BV,"$879,110,994","4,134","$247,966,675","4,134",12/18,-
1,Jurassic World,Uni.,"$652,270,625","4,291","$208,806,270","4,274",6/12,11/19
2,Avengers: Age of Ultron,BV,"$459,005,868","4,276","$191,271,109","4,276",5/1,10/8
3,Inside Out,BV,"$356,461,711","4,158","$90,440,272","3,946",6/19,12/10
4,Furious 7,Uni.,"$353,007,020","4,022","$147,187,040","4,004",4/3,7/24
5,Minions,Uni.,"$336,045,770","4,311","$115,718,405","4,301",7/10,12/17
6,The Hunger Games: Mockingjay - Part 2,LGF,"$280,302,457","4,175","$102,665,981","4,175",11/20,-
7,The Martian,Fox,"$227,616,581","3,854","$54,308,575","3,831",10/2,-
8,Cinderella (2015),BV,"$201,151,353","3,848","$67,877,361","3,845",3/13,9/17
9,Spectre,Sony,"$199,270,555","3,929","$70,403,148","3,929",11/6,-
10,Mission: Impossible - Rogue Nation,Par.,"$195,042,377","3,988","$55,520,089","3,956",7/31,10/29
11,Pitch Perfect 2,Uni.,"$184,296,230","3,660","$69,216,890","3,473",5/15,7/30
12,Ant-Man,BV,"$180,202,163","3,868","$57,225,526","3,856",7/17,12/17
13,Home (2015),Fox,"$177,397,510","3,801","$52,107,731","3,708",3/27,9/10
14,Hotel Transylvania 2,Sony,"$169,464,719","3,768","$48,464,322","3,754",9/25,-
15,Fifty Shades of Grey,Uni.,"$166,167,230","3,655","$85,171,450","3,646",2/13,5/7
16,The SpongeBob Movie: Sponge Out of Water,Par.,"$162,994,032","3,680","$55,365,012","3,641",2/6,5/28
17,Straight Outta Compton,Uni.,"$161,197,785","3,142","$60,200,180","2,757",8/14,10/22
18,San Andreas,WB,"$155,190,832","3,812","$54,588,173","3,777",5/29,10/15
19,Mad Max: Fury Road,WB,"$153,636,354","3,722","$45,428,128","3,702",5/15,9/24
20,Daddy's Home,Par.,"$138,451,113","3,483","$38,740,203","3,271",12/25,-
21,The Divergent Series: Insurgent,LG/S,"$130,179,072","3,875","$52,263,680","3,875",3/20,7/9
22,The Peanuts Movie,Fox,"$129,739,758","3,902","$44,213,073","3,897",11/6,-
23,Kingsman: The Secret Service,Fox,"$128,261,724","3,282","$36,206,331","3,204",2/13,7/9
24,The Good Dinosaur,BV,"$119,987,799","3,749","$39,155,217","3,749",11/25,-
25,The Revenant,Fox,"$119,202,240","3,711","$474,560",4,12/25,-
26,Spy,Fox,"$110,825,712","3,715","$29,085,719","3,711",6/5,10/8
27,Trainwreck,Uni.,"$110,212,700","3,171","$30,097,040","3,158",7/17,10/15
28,Creed,WB,"$108,240,150","3,502","$29,632,823","3,404",11/25,-
29,Tomorrowland,BV,"$93,436,322","3,972","$33,028,165","3,972",5/22,9/17
...,...,...,...,...,...,...,...,...
70,Pan,WB,"$35,088,320","3,515","$15,315,435","3,515",10/9,1/7
71,Hot Pursuit,WB,"$34,580,201","3,037","$13,942,258","3,003",5/8,7/30
72,The DUFF,LGF,"$34,030,343","2,622","$10,809,149","2,575",2/20,5/14
73,Concussion (2015),Sony,"$33,806,210","2,841","$10,513,749","2,841",12/25,-
74,Woman in Gold,Wein.,"$33,307,793","2,011","$2,091,551",258,4/1,8/13
75,The Second Best Exotic Marigold Hotel,FoxS,"$33,078,266","2,022","$8,540,370","1,573",3/6,6/25
76,Spotlight,ORF,"$32,902,971","1,089","$295,009",5,11/6,-
77,Unfriended,Uni.,"$32,482,090","2,775","$15,845,115","2,739",4/17,5/28
78,Entourage,WB,"$32,363,404","3,108","$10,283,250","3,108",6/3,8/13
79,Paper Towns,Fox,"$32,000,304","3,031","$12,650,140","3,031",7/24,10/15
80,Chappie,Sony,"$31,569,268","3,201","$13,346,782","3,201",3/6,5/3
81,Crimson Peak,Uni.,"$31,090,320","2,991","$13,143,310","2,984",10/16,11/26
82,A Walk in the Woods,BG,"$29,504,281","2,158","$8,246,267","1,960",9/2,12/20
83,Point Break (2015),WB,"$28,263,554","2,910","$9,800,252","2,910",12/25,-
84,Sinister 2,Focus,"$27,740,955","2,799","$10,542,116","2,766",8/21,10/29
85,Brooklyn,FoxS,"$27,584,996",962,"$187,281",5,11/4,-
86,The Last Witch Hunter,LG/S,"$27,367,660","3,082","$10,812,861","3,082",10/23,12/31
87,No Escape,Wein.,"$27,288,872","3,415","$8,111,264","3,355",8/26,11/26
88,Ricki and the Flash,TriS,"$26,822,144","2,064","$6,610,961","1,603",8/7,10/11
89,The Woman in Black 2: Angel of Death,Rela.,"$26,501,323","2,602","$15,027,415","2,602",1/2,3/19
90,Run All Night,WB,"$26,461,644","3,171","$11,012,305","3,171",3/13,5/7
91,Love the Coopers,LGF,"$26,302,731","2,603","$8,317,545","2,603",11/13,1/14
92,The Lazarus Effect,Rela.,"$25,801,047","2,666","$10,203,437","2,666",2/27,6/11
93,Ex Machina,A24,"$25,442,958","2,004","$237,264",4,4/10,9/3
94,In the Heart of the Sea,WB,"$24,701,780","3,103","$11,053,366","3,103",12/11,-
95,The Gallows,WB,"$22,764,410","2,720","$9,808,463","2,720",7/10,9/17
96,Hitman: Agent 47,Fox,"$22,467,450","3,273","$8,326,530","3,261",8/21,10/15
97,Project Almanac,Par.,"$22,348,241","2,900","$8,310,252","2,893",1/30,3/26
98,Black or White,Rela.,"$21,571,189","1,823","$6,213,362","1,823",1/30,5/14
99,Aloha,Sony,"$21,067,116","2,815","$9,670,235","2,815",5/29,7/30